 
 
<p style="text-align: center; padding-top: 200px;">Connect @2021</p>
<div class="loader-wrapper">
    <span class="loader">
        <span class="loader-inner"></span>
    </span>
</div>
    <script>
      $(window).on("load",setTimeout(function(){
      $(".loader-wrapper").fadeOut("slow");
      },1000));  
    </script>

</body>
</html>